<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Order</title>
</head>
<body>
<div layout:fragment="content">
<div class="row">

        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h4 class="box-title">Order List</h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             <div class="col-md-1">
<!--     <a id="requisitionCreate" th:href="@{/admin/create-distributor-requisition-for-all}" style="margin-top: 31%;" class="btn btn-fill btn-info" ><i class="fa fa-plus-square" aria-hidden="true"></i>Create distributor requisition</a>
 -->    </div> 
   
             <table id="empTable" class="display" width="100%" cellspacing="0">

                <thead style="color: #111;">
                    <tr>
                     <th>Buyer Name</th>
                      <th>Order Number</th>
                      <th>Total Price</th>
                      <th>Net Discount</th> 
                      <th>Grand Total</th>       
                      <th>Status</th>  
                      <th>Delete</th>       
                      <th>Shoow Products</th> 
                      <th>Reject</th>       
                      <th>Approved</th>                                            
                      <!--   <th>#</th> -->
                    </tr>
                </thead>

            </table> 
           </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

</div>
<!-- </div> -->
<div layout:fragment="custom-scripts">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/orderEcommerce.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var baseurl=/*[[${baseurl}]]*/;

$(document).ready(function() {
	setBaseUrl(baseurl);
});
$(document).ready(function() {
    
    var table = $('#empTable').dataTable({
        "deferRender" : true,
        "sAjaxSource" : baseurl+'/api/order-ecommerce-role-list',
        "sAjaxDataProp" : "",
        "columns" : [
        	{
                data : 'buyerName'
               }, 
                {
                 data : 'orderNumber'
                },
                 {
                 data : 'totalPrice'
                },
               {
                 data : 'netDiscount'
                }, 
                {
                    data : 'grandTotal'
                   }, 
                   {
                       data : 'status'
                      },
                      {
                          data: 'canDelete',
                          "render": function ( data, type, full, meta ) {
                              if(data==true) {
                                  return "<a  style='margin-right: 3px;padding: 3px 7px;' class='btn btn-danger' onclick='deleteEntry("+full.id+");' href='#'><i class='fa fa-trash'></i></a>";
                              }else{
                          
                                  return '<i class="fa fa-ban" aria-hidden="true"></i>';
                                
                              }
                      }
                     
                   },
                   {
                       data: 'canEdit',
                       "render": function ( data, type, full, meta ) {
                           if(data==true) {
                               return "<a style='margin-right: 3px;padding: 3px 7px;' class='btn btn-info orgEdit'  href='"+baseurl+"/admin/confirmed-order-details/"+full.id+"'><i class='fa fa-pencil'></i></a>";
                           }else{
                          
                          	 return '<i class="fa fa-ban" aria-hidden="true"></i>';
                          	 
                           }
                          
                   }
                  
                },
                {
                    data: 'canEdit',
                    "render": function ( data, type, full, meta ) {
                        if(data==true) {
                            return "<a  style='margin-right: 3px;padding: 3px 7px;' class='btn btn btn-secondary' onclick='rejectOrderejeEntry("+full.id+");' href='#'><i class='fa fa-trash'></i></a>";
                        }else{
                    
                            return '<i class="fa fa-ban" aria-hidden="true"></i>';
                          
                        }
                }
               
             },
             {
                 data: 'canEdit',
                 "render": function ( data, type, full, meta ) {
                     if(data==true) {
                         return "<a  style='margin-right: 3px;padding: 3px 7px;' class='btn btn-success' onclick='approvedOrderEntry("+full.id+");' href='#'><i class='fa fa-trash'></i></a>";
                     }else{
                 
                         return '<i class="fa fa-ban" aria-hidden="true"></i>';
                       
                     }
             }
            
          }
            
                            
            ]
        });
        

    });
    
function deleteEntry(id) {
    let url = baseurl+"/api/delete-order-ecom/"+id;
    var msg = confirm("Are you sure you want to delete these order?");
    
    if (msg){
           $.ajax({
              type: "DELETE",
              url: url,
              contentType: 'application/json; charset=utf-8',
              dataType: "JSON",
              success: function (response) {
            	//  console.log(response);
                  window.location.reload();
                  
              },
              error: function () {
                  alert("You can not delete these order, becasue these order is not pending");
              }
          });  
    }
        
                 
} 
function rejectOrderejeEntry(id) {
    let url = baseurl+"/api/reject-order-ecom/"+id;
    var msg = confirm("Are you sure you want to rejetc these order?");
    
    if (msg){
           $.ajax({
              type: "PUT",
              url: url,
              contentType: 'application/json; charset=utf-8',
              dataType: "JSON",
              success: function (response) {
                  window.location.reload();
              },
              error: function () {
                  alert("error");
              }
          });  
    }
        
                 
} 

function approvedOrderEntry(id) {
    let url = baseurl+"/api/approve-order-ecom/"+id;
    var msg = confirm("Are you sure you want to approved these order?");
    
    if (msg){
           $.ajax({
              type: "PUT",
              url: url,
              contentType: 'application/json; charset=utf-8',
              dataType: "JSON",
              success: function (response) {
                  window.location.reload();
              },
              error: function () {
                  alert("error");
              }
          });  
    }
        
                 
} 

/*]]>*/
</script>

</div>
</body>
</html>