<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<div layout:fragment="content">
<div class="row">

        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"> ExpenseType list</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="col-md-1">
    <a id="expenseTypeCreate" th:href="@{/admin/add-expenseType}" style="margin-top: 31%;" class="btn btn-fill btn-info" ><i class="fa fa-plus-square" aria-hidden="true"></i>Create an ExpenseType</a>
    </div> 
  
             <table id="empTable" class="display" width="100%" cellspacing="0">

                <thead style="color: #111;">
                    <tr>
                        <th>Expense Type</th>
                        <th>Delete</th>
                        <th>Edit</th>
                       <!--  <th>Action</th> -->
                    </tr>
                </thead>

            </table> 
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

</div>
<!-- </div> -->
<div layout:fragment="custom-scripts">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script th:src="@{/js/expenseType.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var baseurl=/*[[${baseurl}]]*/;
$(document).ready(function() {
    
    var table = $('#empTable').dataTable({
        "deferRender" : true,
        "sAjaxSource" : baseurl+'/api/expense-type-role',
        "sAjaxDataProp" : "",
        "columns" : [
            {
                data : 'expenseType'
               },
                  {
                      data: 'canDelete',
                      "render": function ( data, type, full, meta ) {
                          if(data==true) {
                              return "<a  style='margin-right: 3px;padding: 3px 7px;' class='btn btn-danger' onclick='deleteEntry("+full.id+");' href='#'><i class='fa fa-trash'></i></a>";
                          }else{
                      
                              return '<i class="fa fa-ban" aria-hidden="true"></i>';
                            
                          }
                  }
                 
               },
               {
                   data: 'canEdit',
                   "render": function ( data, type, full, meta ) {
                       if(data==true) {
                           return "<a style='margin-right: 3px;padding: 3px 7px;' class='btn btn-info orgEdit'  href='"+baseurl+"/admin/edit-expenseType/"+full.id+"'><i class='fa fa-pencil'></i></a>";
                       }else{
                      
                      	 return '<i class="fa fa-ban" aria-hidden="true"></i>';
                      	 
                       }
                      
               }
              
            }
            ]
        });
        

    });

/*]]>*/
</script>
</div>
</body>
</html>