<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Edit campaign type</title>
</head>
<body>
	<div layout:fragment="content">
		<!-- <div class="row">
        <div class="col-md-6"> -->
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Edit a product wise campaign</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="col-md-10">
					<!-- form start -->
					<form class="form-horizontal">

						<div class="box-body">

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Campaign
											Type</label> <input type="hidden" id="id">
										<div class="col-sm-8">
											<select class="form-control" id="campType" name="camp_type">
												<option value="">- - Select Campaign Type - -</option>
													<option value="Product Wise Campaign">Product Wise Campaign</option>
                 									<option value="CashBack Campaign">CashBack Campaign</option>                 									
											</select>
										</div>
									</div>
								</div>




								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Campaign</label>

										<div class="col-sm-8">
											<select class="form-control" id="camp" name="camp">
												<option value="">- - Select Campaign - -</option>
												<option th:each="campaignList : ${campaignList}"
													th:value="${campaignList.id}"
													th:utext="${campaignList.campaignName}" />
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Product
											List</label>

										<div class="col-sm-8">
											<select class="form-control" id="prdList" name="prdlist">
												<option value="">- - Select Product - -</option>
												<option th:each="prdList : ${prdList}"
													th:value="${prdList.id}" th:utext="${prdList.productName}" />
											</select>
										</div>
									</div>
								</div>




								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Offer
											type</label>

										<div class="col-sm-8">

											<select class="form-control" id="offerType" name="offertype">
												<option value="">- - Select Offer Type - -</option>
												<option th:value="value" th:utext="value" />
												<option th:value="quantity" th:utext="quantity" />
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Discount
											Type</label>
										<div class="col-sm-8">
											<select class="form-control" id="discountType"
												name="discount_type">
												<option value="">- - Select Discount - -</option>
												<option th:value="Tk" th:utext="Tk" />
												<option th:value="Percentage" th:utext="Percentage" />
											</select>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Discount
											Amount</label>

										<div class="col-sm-8">
											<input class="form-control" id="dis_amount"
												placeholder="DiscountAmount.." />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Discount
											On</label>
										<div class="col-sm-8">
											<select class="form-control" id="discount_on" name="price">
												<option value="">- - Select Price - -</option>
												<option th:value="Dp" th:utext="Dp" />
												<option th:value="Rp" th:utext="Rp" />
												<option th:value="Mrp" th:utext="Mrp" />
											</select>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Required
											Quantity</label>

										<div class="col-sm-8">
											<input class="form-control" id="quantityRequired"
												placeholder="quantityRequired" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">free
											Item</label>

										<div class="col-sm-8">
											<select class="form-control" id="freeItem" name="free_Item">
												<option value="">- - Select a Free Product - -</option>
												<option th:each="prdList : ${prdList}"
													th:value="${prdList.id}" th:utext="${prdList.productName}" />
											</select>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="col-sm-2 control-label">Free
											item Quantity</label>

										<div class="col-sm-8">
											<input class="form-control" id="freeItemQuantity"
												placeholder="freeItemQuantity" />
										</div>
									</div>
								</div>
							</div>

						</div>



						<div class="box-footer">
							<a class="btn btn-default"
								th:href="@{/admin/product-wise-campaign}">Cancel</a>
							<button onclick="submitPrdWiseCampEditForm();"
								class="btn btn-info pull-right">Update</button>
						</div>
						<!-- /.box-footer -->
					</form>
				</div>

			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<div layout:fragment="custom-scripts">
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script th:src="@{/js/product-wise-campaign.js}"></script>
		<script th:inline="javascript">
/*<![CDATA[*/
var baseurl=/*[[${baseurl}]]*/;
var id=/*[[${id}]]*/;

$(document).ready(function() {
    setBaseUrl(baseurl);
    getProductWiseCampaign(id); 

});
/*]]>*/
</script>
	</div>
</body>
</html>