<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Add Area</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
</head>
<body>
<div layout:fragment="content">
<!-- <div class="row"> -->
        <!-- <div class="col-md-6"> -->
           <div class="box">
            <div class="box-header">
            
              <h3 class="box-title">Mapping user to territory</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             <div class="col-md-10">
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body"> 
              <div class="row">
               
               
               <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-3 control-label">User List</label>

                  <div class="col-sm-8">
                 <select id="user_id" name="user_id" data-live-search="true" data-live-search-style="startsWith" class="selectpicker">                 
                  <option  value=""> - - Select a User- - </option>
                    <option th:each="user : ${users}" th:value="${user.id}"
                            th:utext="${user.fullName +' - '+ user.mobile}" />
                  </select>
                  </div>
                </div>
               </div>
                 <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-3 control-label">Select Territories</label>

                  <div class="col-sm-8">
                <select id="territories_id" name="territories" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" multiple="multiple"> 
                  <option value=""> - - Select a Territories- - </option>
                    <option th:each="territory : ${territorys}" th:value="${territory.id}"
                            th:utext="${territory.territoryName}" />
                  </select>
                  </div>
                </div>
               </div>                 
               
               </div>
               <!--  <div class="row">
                <div class="col-sm-6 col-sm-offset-2">
                <h4>Please select territory</h4>
                 <div id="chk" class="form-group">
                 <div class="checkbox">
                 <label>
                 <input id="checkAll" type="checkbox" >
                 All</label>
                 </div>
               
              </div>    
               </div>
               </div> -->
              <!-- /.box-body -->
              
              </div>
             
              <div class="box-footer">
                <a class="btn btn-danger" th:href="@{/admin/user}">Cancel</a>
                <button onclick="submitMappingForm();" class="btn btn-info">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          
          </div>
          <!-- /.box -->
        </div>
        </div>


<div layout:fragment="custom-scripts">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/territory.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	var baseurl=/*[[${baseurl}]]*/;
	var territoriesList=/*[[${territories}]]*/;
    var id=/*[[${id}]]*/;
$(document).ready(function() {
	setBaseUrl(baseurl);
	createCheckboxList1(territoriesList,id);
	
});
$("#checkAll").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
});

/*]]>*/
</script>
</div>
</body>
</html>