<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Add Market</title>
</head>
<body>
<div layout:fragment="content">
           <div class="box">
            <div class="box-header">
            
              <h3 class="box-title">Add a Market</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             <div class="col-md-10">
            <!-- form start -->
            <form id="marketAddForm" class="form-horizontal">
              <div class="box-body"> 
              <div class="row">
              
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Territory</label>

                  <div class="col-sm-8">
                 <select id="territory_id" name="territoryname" required data-live-search="true" data-live-search-style="startsWith" class="selectpicker">
                  <option value=""> - - Select a Territory- - </option>
                    <option th:each="territory : ${territory}" th:value="${territory.id}"
                            th:utext="${territory.territoryName}" />
                  </select>
                  </div>
                </div>
               </div>
                <div class="col-sm-6">
              <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Market Name</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="market_name" name="marketname" placeholder="Market Name" required="required"/>
                  </div>
                </div>
               </div> 
               
               <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Address</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="address" placeholder="Address"/>
                  </div>
                </div>
               </div>
              <!-- /.box-body -->
              
              </div>
              </div>
              <div class="box-footer">
                <a   th:href="@{/admin/market}">Cancel</a>
              <!--   <button onclick="submitMarketForm();" class="btn btn-info pull-right">Submit</button> -->
              <input class="btn btn-info pull-right" type="submit" value="Submit">
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          
          </div>
          <!-- /.box -->
        </div>
        </div>

<div layout:fragment="custom-scripts">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" ></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> 
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/market.js}">

</script><script th:inline="javascript">
/*<![CDATA[*/
	var baseurl=/*[[${baseurl}]]*/;

$(document).ready(function() {
	setBaseUrl(baseurl);
	
});


/*]]>*/
</script>
</div>
</body>
</html>