<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>User Role</title>
</head>
<body>
<div layout:fragment="content">
<div class="row">

        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"> Role list</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="col-md-1">
    <a id="roleCreateButton" th:href="@{/admin/add-role}" style="margin-top: 31%;margin-bottom:5px;" class="btn btn-fill btn-info" ><i class="fa fa-plus-square" aria-hidden="true"></i>Create a Role</a>
    </div> 
   
             <table id="empTable" class="display" width="100%" cellspacing="0">

                <thead style="color: #111;">
                    <tr>
                        <th>Role Name</th>
                         <th>Description</th>
                       	<th>Action</th>
                    </tr>
                </thead>

            </table> 
          
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

</div>
</div>
<div layout:fragment="custom-scripts">
<script th:src="@{/js/role.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var baseurl=/*[[${baseurl}]]*/;
$(document).ready(function() {
    
    var table = $('#empTable').dataTable({
        "deferRender" : true,
        "sAjaxSource" : baseurl+'/api/user-role-list',
        "sAjaxDataProp" : "",
        dom: 'Bfrtip',
        buttons: [
             'excel', 'pdf', 'print'
        ],
        "columns" : [
        	{
                data : 'name'
               }, 
               {
                   data : 'description'
                  },     
                {
                    data: 'id',
                    
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<a style='margin-right: 3px;padding: 3px 7px;' class='btn btn-danger' onclick='deleteEntry("+oData.id+");' href='#'><i class='fa fa-trash'></i></a><a style='margin-right: 3px;padding: 3px 7px;' class='btn btn-info'  href='"+baseurl+"/admin/edit-user-role/"+oData.id+"'><i class='fa fa-pencil'></i></a>");
               
 
                    } 
                }       
            ]
        });
        

    });

/*]]>*/
</script>

</div>
</body>
</html>