<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<script>
/* function emp(id,name,salary){  
	this.id=id;  
	this.name=name;  
	this.salary=salary;  
	}  
	e=new emp(103,"Vimal Jaiswal",30000);  
	  
	document.write(e.id+" "+e.name+" "+e.salary);  */
/* var emp=new Object();  
emp.id=101;  
emp.name="Ravi Malik";  
emp.salary=50000;  
document.write(emp.id+" "+emp.name+" "+emp.salary); */
/* 
emp ={id:102,name:"bappi",salary:700}
document.write(emp.id+" "+emp.name+" "+emp.salary); */
/* function getInfo() {
	return "hello this is a message";
} */
/* function getCube(number) {
	alert(number*number*number);
} */
/*  function message(){
	 alert("Hello this is a message");
 } */
/* var value ="yes";
  function a() {
	 // window.value = 200;
	  alert(window.value);
	  }
  function b() {
	  alert(window.value);
	}
a();
b(); */
</script>
<script>
document.write(getInfo);
</script>
<!-- <input type ="button" onclick ="message()" value = "call function"/> -->
<!-- <input type="button" value="Click" onclick="getCube(4)"/> -->

</body>
</html>