<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Add Organization</title>
<script th:src="@{/js/organization.js}"></script>
</head>
<body>
<div layout:fragment="content">
<!-- <div class="row"> -->
        <!-- <div class="col-md-6"> -->
           <div class="box">
            <div class="box-header">
            
              <h3 class="box-title">Add a Organization</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             <div class="col-md-10">
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body"> 
              <div class="row">
              
		   <div class="col-sm-6"> 
              <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Org Name</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="org_name" placeholder="Org Name"/>
                  </div>
                </div>
               </div> 
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Contact Name</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="contact_name" placeholder="Contact Name"/>
                  </div>
                </div>
               </div>
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Mobile</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="mobile" placeholder="Mobile"/>
                  </div>
                </div>
               </div>
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Email</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="email" placeholder="Email"/>
                  </div>
                </div>
               </div>
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Address</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="address" placeholder="Address"/>
                  </div>
                </div>
               </div>
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Subscription Number</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="subscription_number" placeholder="Subscription Number"/>
                  </div>
                </div>
               </div>
               
               <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Subscription Period</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="subscription_period" placeholder="Subscription Period"/>
                  </div>
                </div>
               </div>
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Website</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="website" placeholder="Website"/>
                  </div>
                </div>
               </div> 
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">logo</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="logo" placeholder="Logo"/>
                  </div>
                </div>
              </div> 
              
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">About</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="about" placeholder="About"/>
                  </div>
                </div>
               </div>
              
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Transport Type</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="transport_type" placeholder="Transport Type"/>
                  </div>
                </div>
               </div>
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Owner Name</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="owner_name" placeholder="Owner Name"/>
                  </div>
                </div>
               </div>
               
               
              <!--  <div class="col-sm-6">
               <div class="form-group">
                  <label for="departmentName" class="col-sm-2 control-label">distributorName Name</label>

                  <div class="col-sm-8">
                    <select class="form-control" id="department_name" name="departmentName">
                  <option> - - Department name - - </option>
                   <option value="Driver"> Driver</option>
                   <option value="Admin"> Admin</option>
                  </select>
                  </div>
                </div>
               </div>  -->
               
                 <!--  <div class="col-sm-6">
               <div class="dropdown">
  			<button class="btn btn-primary dropdown-toggle" type="button" id="department_name" data-toggle="dropdown">Department
  			<span class="caret"></span></button>
 				 <ul class="dropdown-menu">
    					<li><a href="#">driver</a></li>
    					<li><a href="#">supervisor</a></li>
    					<li><a href="#">admin</a></li>
    					<li><a href="#">It</a></li>
    				
  				</ul>
				</div>
               </div> -->
                 <!--  <div class="col-sm-8">
                    <input  class="form-control" id="department_name" placeholder="department name.."/>
                  </div> -->
                <!-- </div>
               </div>  -->
               
               <!-- <div class="col-sm-6">
               <div class="dropdown">
  			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Department
  			<span class="caret"></span></button>
 				 <ul class="dropdown-menu">
    					<li><a href="#">driver</a></li>
    					<li><a href="#">supervisor</a></li>
    					<li><a href="#">another</a></li>
  				</ul>
				</div>
               </div> -->
               
                <!-- <div class="col-sm-6">
                
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Department Name</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="department_name" placeholder="department name.."/>
                  </div>
                </div>
               </div> -->
<!--                 <div class="col-sm-6">
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Reporting Boss</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="reporting_boss" placeholder="reporting boss"/>
                  </div>
                </div>
               </div>
               
                <div class="col-sm-6">
                <div class="form-group" id="date">
                  <label for="amount" class="col-sm-2 control-label">Trip Date </label>

                  <div class="col-sm-8">
                     <input type="date" class="form-control" id="trip_date" placeholder="trip date">
                  </div>
                </div>
               </div>
               
                <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Trip Duration</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="trip_duration" placeholder="trip duration.."/>
                  </div>
                </div>
               </div>
               
                <div class="col-sm-6">
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Trip StartPoint</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="trip_startpoint" placeholder="trip startpoint.."/>
                  </div>
                </div>
                </div>
                
                <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Trip EndPoint</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="trip_endpoint" placeholder="trip endpoint.."/>
                  </div>
                </div>
               </div>
               <div class="col-sm-6">
              <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Number of Vistors</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="number_of_visitors" placeholder="number of visitors.."/>
                  </div>
                </div>
               </div>
               
               <div class="col-sm-6">
               <div class="form-group">
                  <label for="purpose_of_Trip" class="col-sm-2 control-label">Purpose of Trip</label>

                  <div class="col-sm-8">
                    <select class="form-control" id="purpose_of_trip" name="PurposeOfTrip">
                  <option> - - Purpose of Trip - - </option>
                   <option value="factory visit"> Factory Visit</option>
                   <option value="field visit"> Field Visit</option>
                  </select>
                  </div>
                </div>
               </div>
               
 -->              <!--  <div class="col-sm-6">
              <div class="form-group">
                  <label for="tripStatus" class="col-sm-2 control-label">Trip Status</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="trip_status" placeholder="trip status"/>
                  </div>
                </div>
               </div> -->
              <!--  <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Purpose of Trip</label>
                  <div class="col-sm-6">
               <div class="dropdown">
                
  			<button class="btn btn-primary dropdown-toggle" type="button" id="purpose_of_trip" data-toggle="dropdown">Purpose Of trip
  			<span class="caret"></span></button>
 				 <ul class="dropdown-menu">
    					<li><a href="#">Factory visit</a></li>
    					<li><a href="#">Field visit</a></li>
    					<li><a href="#">HQ Visit</a></li>
    					<li><a href="#">AAAAA</a></li>
    				
  				</ul>
		   	</div>
		</div>
		</div>
		</div> -->
				
				
               <!--  <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Purpose of trip</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="purpose_of_trip" placeholder="purpose of trip.."/>
                  </div>
                </div>
               </div>
              </div> -->
               
               
               <!--  <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Employee Id</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="employee_id" placeholder="employeeId.."/>
                  </div>
                </div> 
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Employee Name</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="employee_name" placeholder="Employee name..."/>
                  </div>
                </div> 
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Mobile</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="mobile" placeholder="mobile"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Department Name</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="department_name" placeholder="department name.."/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Reporting Boss</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="reporting_boss" placeholder="reporting boss"/>
                  </div>
                </div>
                
                  <div class="form-group" id="date">
                  <label for="amount" class="col-sm-2 control-label">Trip Date </label>

                  <div class="col-sm-8">
                     <input type="date" class="form-control" id="trip_date" placeholder="trip date">
                  </div>
                </div>
                
           
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Trip Duration</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="trip_duration" placeholder="trip duration.."/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Trip StartPoint</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="trip_startpoint" placeholder="trip startpoint.."/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Trip EndPoint</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="trip_endpoint" placeholder="trip endpoint.."/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Number of Vistors</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="number_of_visitors" placeholder="number of visitors.."/>
                  </div>
                </div>
                 <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Purpose of trip</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="purpose_of_trip" placeholder="purpose of trip.."/>
                  </div>
                </div>
                
                <>
               </div>  -->
              <!-- /.box-body -->
              
               </div> 
              </div>
              <div class="box-footer">
                <a   th:href="@{/admin/organization}">Cancel</a>
                <button onclick="submitOrganizationForm();" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          
          </div>
          <!-- /.box -->
        </div>
        </div>
     <!--    </div> -->
        <!--  <div class="col-md-6">
       <div class="box">
            <div class="box-header">
              <h3 class="box-title">Add a map</h3>
            </div>
           
            <div class="box-body">
            <div id="map" style="width: 100%; height:310px;"></div>
 
  </div>
            </div>
            
            </div> -->
            
    <!--   </div> -->

<!-- </div> -->

<div layout:fragment="custom-scripts">
<!-- <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3hltsx8RJ8bOckcXkm9PjJbr05kNxtow"></script>    -->     
<script th:inline="javascript">
/*<![CDATA[*/
	var baseurl=/*[[${baseurl}]]*/;

$(document).ready(function() {
	setBaseUrl(baseurl);
	
});


/*]]>*/
</script>
</div>
</body>
</html>