<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<div layout:fragment="content">
<div class="row">

        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Approved Expenses List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
        
             <table id="empTable" class="display" width="100%" cellspacing="0">

                <thead style="color: #111;">
                    <tr>
                        <th>Expense Type</th>
                        <th>Amount</th>
                        <th>Note</th>
                         <th>Expense By</th>
                        <th>Approved By</th>
                        <th>Status</th>
                         <th>Approved Amount</th>
                        <th>Attachment</th>                                      
                    </tr>
                </thead>

            </table> 
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

</div>
<!-- </div> -->
<div layout:fragment="custom-scripts">
<script th:inline="javascript">
/*<![CDATA[*/
var baseurl=/*[[${baseurl}]]*/;
$(document).ready(function() {    
    var table = $('#empTable').dataTable({
        "deferRender" : true,
        "sAjaxSource" : baseurl+'/api/expense-approve-list-role',
        "sAjaxDataProp" : "",
        dom: 'Bfrtip',
        buttons: [
             'excel', 'pdf', 'print'
        ],
        "columns" : [
            {  data : 'expenseType'},
            {  data : 'amount' },
            {  data : 'note' },
            {  data : 'expenseBy' },
            {  data : 'approvedBy' },
            {  data : 'status' },
            {  data : 'approvedAmount' },           
            {
                data: 'attachment',
                "render": function ( data, type, full, meta ) {
                	
                    if(data!="") {
                        return "<a target='_blank' href='"+baseurl+"/api/downloadFile1/"+data+"'><i class='fa fa-paperclip' style='font-size:36px;'> </i></a>";
                    }
                    return "no attachment";
            }
            }
     
            ]
        });
    });


/*]]>*/
</script>

</div>
</body>
</html>