<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Edit MonthlyTarget</title>
</head>
<body>
<div layout:fragment="content">
<!-- <div class="row">
        <div class="col-md-6"> -->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Edit a MonthlyTarget</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <form class="form-horizontal">
              <div class="box-body"> 
              <div class="row">
                 <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Employee </label>
                  <input type="hidden" id="id" >
                  <div class="col-sm-8">
                 
                 <select class="form-control" id="emp_id" name="emp_id">
                  <option value=""> - - Select an Employee  - - </option>
                    <option th:each="emp : ${emp}" th:value="${emp.username}"
                            th:utext="${emp.fullName}" />
                  </select>
                  </div>
                </div>
               </div>
                <div class="col-sm-6">
                 <div class="form-group">
                  <label for="category_id" class="col-sm-2 control-label">Product Category</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="category_id" name="category_id">
                  <option> - - Select a Category - - </option>
                    <option th:each="category : ${category}" th:value="${category.name}"
                            th:utext="${category.name}" />
                  </select>
                  </div>
                </div>
               </div> 
               </div>
                 <div class="row">
         <div class="col-sm-6">
               <div class="form-group">
                  <label for="carType" class="col-sm-2 control-label">Select a Product</label>

                  <div class="col-sm-8">
                    
                     <select id="product_id" name="product_id" class="form-control select2 select2-hidden-accessible" data-placeholder=" - - Select a Product - - " style="width: 100%;" data-select2-id="7" tabindex="-1" aria-hidden="true">
                 
                  </select>
                  </div>
                </div>
               </div>
              
               
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Quantity</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="quantity" placeholder="Quantity"/>
                  </div>
                </div>
               </div>
               </div>
                 <div class="row">
              <div class="col-sm-6">
               <div class="form-group">
                  <label for="amount" class="col-sm-2 control-label">Total Value</label>

                  <div class="col-sm-8">
                    <input  class="form-control" id="total_value" placeholder="Total Value"/>
                  </div>
                </div>
               </div>
               
              <div class="col-sm-6">
               <div class="form-group"  id="date">
                  <label for="amount" class="col-sm-2 control-label">Target Month</label>

                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="target_month" placeholder="Target Date"/>
                  </div>
                </div>
              </div>              
             </div>
               </div> 
                           
              <div class="box-footer">
                <a th:href="@{/admin/monthlyTarget1}">Cancel</a>
                <button onclick="submitMonthlyTargetEditForm();" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
           
<div layout:fragment="custom-scripts">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/monthlyTarget.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var baseurl=/*[[${baseurl}]]*/;
var id=/*[[${id}]]*/;
$(document).ready(function() {
    setBaseUrl(baseurl);
    getMonthlyTarget(id);    
    $('.select2').select2();
    $('.selectpicker').selectpicker(); 
    getDropDownValue();    
});

/*]]>*/
</script>
</div>
</body>
</html>