<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Home</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />        
 <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">  
</head>
<body>
<div layout:fragment="content">
<div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Monthly Target for Delivery Executive</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
             <div class="col-md-12">
              <div class="box-body">
               
                <div class="row">
                                                   
                <div class="col-sm-8">
               <div class="form-group"  id="date">
                  <label for="amount" class="col-sm-4 control-label">Target Month</label>

                  <div class="col-sm-8">
                    <input type="month" class="form-control" id="target_month" placeholder="Target Month"/>
                  </div>
                </div>
              </div>
             
                </div>
               
              </div>
            
          </div>
          
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

</div>
<div class="row">

        <div class="col-md-12">
          <div class="box">
          <!--   <div class="box-header">
             <div class="col-md-12">
            <a id="btn-save" href="#" style="margin-left: 0%;" class="btn btn-fill btn-info" ><i class="fa fa-plus-square" aria-hidden="true"></i>Submit</a>
            </div>
            </div> -->
            <!-- /.box-header -->
            <div class="box-body"> 
           
             <table id="empTable" class="display" width="100%" cellspacing="0">

                <thead style="color: #111;">
                    <tr>
                        <th>#</th>
                        <th>Employee Name</th>
                        <th>User Name</th>
                        <th>Target Order Quantity</th>
                        <th>Target Order Value</th>
                    </tr>
                </thead>

            </table> 
            <div class="row">
       
        </div>
           </div>
          
             <div class="fixed-bottom">
             <div class="col-md-12">
            <a id="btn-save" href="#" style="margin-left: 90%;" class="btn btn-fill btn-info" ><i class="fa fa-plus-square" aria-hidden="true"></i>Submit</a>
            </div>
            </div>
           
           
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

</div>
<!-- </div> -->
<div layout:fragment="custom-scripts">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script th:src="@{/js/monthlyTarget.js}"></script> -->
<script th:inline="javascript">
/*<![CDATA[*/
var baseurl=/*[[${baseurl}]]*/;

$(document).ready(function() {
    $('.select2').select2();
    $('.selectpicker').selectpicker(); 
});
var dataTable = $('#empTable').DataTable({
    "processing": true,
    "serverSide": true,
    "order":[],
    "columnDefs": [ 
    	{
        "targets": 0,
        "render": function ( data, type, row, meta ) {
          return '<div class="form-check"><input name="app" class="form-check-input" type="checkbox" value="' +data+ '" id="flexCheckDefault"></div>';
        }
      } 
      ],
    "ajax":{
       //url: baseurl+'/api/employee-server-side',
        url: baseurl+'/api/user-server-side',
        type:"POST",
        "dataSrc": "data"
    },
    createdRow:function(row, data, rowIndex)
    {
        $.each($('td', row), function(colIndex){
            if(colIndex == 1)
            {
                $(this).attr('data-name', 'empName');
                $(this).attr('class', 'empName');
                $(this).attr('data-type', 'text');
                $(this).attr('data-pk', data[0]);
            }
            if(colIndex == 2)
            {
                $(this).attr('data-name', 'userName');
                $(this).attr('class', 'userName');
                $(this).attr('data-type', 'text');
                $(this).attr('data-pk', data[0]);
            }
            if(colIndex == 3)
            {
                $(this).attr('data-name', 'targetquantity');
                $(this).attr('class', 'targetquantity');
                $(this).attr('data-type', 'text');
                $(this).attr('data-pk', data[0]);
            }
            if(colIndex == 4)
            {
                $(this).attr('data-name', 'targetvalue');
                $(this).attr('class', 'targetvalue');
                $(this).attr('data-type', 'text');
                $(this).attr('data-pk', data[0]);
            }   
            
        });
    }
});
$.fn.editable.defaults.mode = 'inline';
$('#empTable').editable({
    container:'body',
    selector:'td.targetquantity', 
    title:'target quantity',
    validate:function(value){
        if($.trim(value) == '')
        {
            return 'This field is required';
        }else{
        	
        	
        }
    }
});
$('#empTable').editable({
    container:'body',
    selector:'td.targetvalue', 
    title:'target value',
    validate:function(value){
        if($.trim(value) == '')
        {
            return 'This field is required';
        }else{
            
            
        }
    }
});

$("#btn-save").click(function(event) {

   var targetMonth=$("#target_month").val();
   //alert(targetMonth)
   if(targetMonth==""){
	  // alert("Target month must not be null")
	   swal("Target month must not be null");
   }else{
	   var targetMonth1 = targetMonth.split("/").reverse().join("-");  
	  /// alert(targetMonth1)
	   
	   var user =[];    
	    $.each($("input[name='app']:checked"), function(){
	        let target= {};
	        
	       // alert($(this).closest('td').next().text());
	        
	        var empName=$(this).closest('td').next().text();
	        
	        var empId=$(this).closest('td').next('td').next().text();
	        var orderQuantity=$(this).closest('td').next('td').next('td').next().text();
	        var orderValue=$(this).closest('td').next('td').next('td').next('td').next('td').text();
	       
	        targetMonth1 = targetMonth1.concat('-10');
        
	       // alert(targetMonth1)

	        target['targetMonth']=targetMonth1;
	        target['empId']=empId;
	        target['empName']=empName;
	        target['orderQuantity']=orderQuantity;
	        target['orderValue']=orderValue;      
	        user.push(target);
	    });
	    if(user.length>0){
	    	submitToServer(user);
	    }else{
	    	//alert("Please select at least one employee")
	    	 swal("Please select at least one employee");
	    }
	    
   }

 }); 
    
function submitToServer(user) {
	
    let url = baseurl + "/api/set-delivery-target";
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: url,
        data: JSON.stringify(user),
        dataType : "JSON",
        success: function (result) {
           // alert("Target setup success");
            swal("Target setup successfully");
            window.location.href=baseurl+"/admin/deliveryman-order-target";
        },
        error: function (e) {
            console.log("ERROR: ", e);
        }
    });
}

/*]]>*/
</script>

</div>
</body>
</html>