<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
<div layout:fragment="content">
<div class="row">

        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"> Monthly Target</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
      <!--       <div class="col-md-1">
    <a id="btn" th:href="@{/admin/monthlyTarget1}" style="margin-top: 31%;" class="btn btn-fill btn-info" ><i class="fa fa-plus-square" aria-hidden="true"></i>Create a MonthlyTarget</a>
    </div>  -->   
             <table id="empTable" class="display" width="100%" cellspacing="0">

                <thead style="color: #111;">
                    <tr>
                        <th>Employee Name</th>
                        <th>Product Name</th>
                        <th>Product Category</th>
                        <th>Target Quantity</th>
                        <th>Target Value</th>
                        <th>Target Month</th>
                        <th>#</th>
                    </tr>
                </thead>

            </table> 
           </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>

</div>
<!-- </div> -->
<div layout:fragment="custom-scripts">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/monthlyTarget.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var baseurl=/*[[${baseurl}]]*/;
var id=/*[[${id}]]*/;
$(document).ready(function() {
    setBaseUrl(baseurl);
});
$(document).ready(function() {
    
    var table = $('#empTable').dataTable({
        "deferRender" : true,
        "sAjaxSource" : baseurl+'/api/monthly-Target1/'+id,
        "sAjaxDataProp" : "",
        "columns" : [
        	 {
                 data : 'empName'
                },           
                {
                 data : 'productName'
                },
                
               {
                 data : 'category'
                },
               {
                 data : 'targetquantity'
                },
               {
                 data : 'targetTotalValue'
                }, 
               
               {
                data : 'targetMonth'
                },             
                {
                    data: 'id',
                    
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<a style='margin-right: 3px;padding: 3px 7px;' class='btn btn-danger' onclick='deleteEntry("+oData.id+");' href='#'><i class='fa fa-trash'></i></a><a style='margin-right: 3px;padding: 3px 7px;' class='btn btn-info'  href='"+baseurl+"/admin/edit-monthlyTarget/"+oData.id+"'><i class='fa fa-pencil'></i></a>");
               
                     } 
                } 
             ]
        });
     });
     
/*]]>*/
</script>

</div>
</body>
</html>